:root {
    --ff-heading: 'General Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --ff-body: 'Gambetta', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-body);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: beige;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-heading);
    font-weight: 600;
}

h5,
h6 {
    font-weight: 400;
}

.container {
    position: relative;
    width: min(100% - 2rem, 79rem);
    margin-inline: auto;
    padding-block: 2rem;
}

p {
    font-size: 1.125rem;
    margin-bottom: 1.2rem;
    line-height: 2em;
}

article.sample-col-para {
    margin-inline: auto;
    column-width: 350px;
    column-gap: 2rem;
    column-rule: 1px solid #5b5b5d;

    h1 {
        font-size: 56px;
        margin-bottom: 1rem;
        line-height: 1.2em;
    }

    h3 {
        opacity: 0.7;
        margin-bottom: 1rem;
    }

    img {
        width: 200px;
        height: 200px;
        float: right;
        margin-left: 1.2rem;
        border-radius: 50%;
        object-fit: cover;
        shape-outside: circle();
        border: 5px solid rgb(164, 67, 31);
    }
}


.mb-5 {
    margin-bottom: 5rem;
}

.mt-5 {
    margin-top: 5rem;
}

.marquee-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    gap: 1rem;
    border-radius: 1rem;


    .marquee-content {
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: 1rem;
        cursor: grab;

        .card-testimonial {
            max-width: 400px;
            background-color: #333;
            padding: 1rem;
            border-radius: 1rem;
            color: #f5f5f5;

            article {
                picture {
                    position: relative;
                    min-width: 200px;

                    img {
                        width: 100%;
                        height: 340px;
                        border-radius: 0.5rem;
                        object-fit: cover;
                        object-position: 50% 15%;
                    }
                }

                h4 {
                    font-size: 20px;
                    text-transform: capitalize;
                    margin-block: 1rem;
                }

                article.short-description {
                    p {
                        font-family: var(--ff-heading);
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 20px;
                        margin-bottom: 1.2rem;
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        overflow: auto;
    }
}

.scrollingX {
    animation: scroll 45s linear infinite;
}

.marquee-wrapper:hover .scrollingX {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}